/*currently displays an image, will change to fit name when video is found*/


.video{
    position: relative;
    display: block;
    place-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 0rem;
    box-sizing: border-box;
    height: 10%;
    overflow: auto;
    box-sizing: border-box;
}
/*currently img for placeholder*/
.video img {
    width: 100%;
    aspect-ratio: 8 / 3;
    display: block;
    object-fit: cover;
}
.video video {
    width: 100%;
    aspect-ratio: 8 / 3;
    display: block;
    object-fit: cover;
}
#video article {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    pointer-events: none;
}

footer {
    text-align: center;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: 1.5em;
    color: #575757;
}

/*the main body of the goals pages*/
.main {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 0rem 1rem 1rem;

    display: flex;
    flex-direction: column;
    row-gap: 0.8em;
    align-items: center;
}

    /*
    note::the word wrapping works but if one word is too long
        ::it will create a scroll bar to see the full word
    |DELETE NOTE at end of project|
    */
.textBox {
    min-width: 55%;
    max-width: 55%;
    overflow: auto;
    font-size: 1em;
    text-align: center;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    color: #3b3b3b;
}

.imgBox {
    place-items: center;
    width: 80%;
    height: 200px;
    font-size: 6em;
    text-align: center;
}

.imgBox img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
}

/*here to show where boxes are during templating*/
#box1 {
    background-color: rgb(255, 255, 255);
}

#box2 {
    background-color: red;
}

#box3 {
    background-color: rgb(255, 255, 255);
}
.imgBox video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/*here to show where boxes are during templating*/

.hidden{
    opacity: 0;
    transform: translateX(16px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.show{
    opacity: 1;
    transform: translateX(0);
}
