
body{
    background-image: url("/assets/cheeta.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
}

form{
    max-width: 90%;
    width: 80%;
    margin: 10%;
    padding: 50px;
    background-color: rgba(0, 0, 0,0.5);
    box-shadow: inset -3px -3px rgba(0, 0, 0,0.5);;
    border-radius: 25px;
    box-sizing: border-box;
    color: #fff;
}

h1{
    margin: 0;
    color: white;
    text-align: center;
}

label{
     display: block;
    
}

input,textarea{
    display: block;
    width: 95%;
    padding: 10px;
    margin: 0 5px;
    box-sizing: border-box solid  rgb(6, 77, 6);
    resize: none;
    border-bottom: 1px rgb(6, 77, 6);
}

.btn{
    margin-top: 30px ;
    width: 90%;
    max-width: 200px;
    background-color: #27840e;
    color:  #fff;
    padding: 6px 10px;
    font-weight: 550;
    font-size: 16px;
    border: 0px solid #27840e;
    border-radius: 7px;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    margin: 30px auto 0;

}
