/*CSS for the navbar*/
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CSS for the home page structure*/

.video {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 100%;
}
.goals {
    display: flex;
    justify-content: space-around;
}
.rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
}
