body {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    display: block;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul {
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100px;
}

nav ul li {
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    width: 100%;
    padding: 0 50px;
    transition: background-color 0.3s ease, font-weight 0.3s ease;
}

nav ul li a.active {
    text-decoration: underline;
}

nav ul li a:hover {
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.1);
}
