

/*CSS for the home page structure*/
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 100%;
}
.three {
    display: flex;
    justify-content: space-around;
}
.rows {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
}
