body {
    font-family: 'Roboto Condensed', Arial, sans-serif;
}

/*CSS for the navbar*/
nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    justify-content: center;
    width: 10%;
    margin: 0;
}

nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
nav ul li a.active {
    text-decoration: underline;
}

/*CSS for the home page structure*/

.video {
    display: flex;
    justify-content: center;
    width: 100%;
}
.goals {
    display: flex;
    justify-content: space-around;
}

.goalsWrapper {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin: 0.1%;
}
.goalsWrapper h3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
}
.goalsWrapper img {
    width: 100%;
    height: 100%;
}
a h3 {
    text-decoration: none;
    color: black;
}

.rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
